body{
    background: url("../img/elemento_1.png") no-repeat left 0px top 2% / 16%,
                url("../img/elemento_2.png") no-repeat right 0px top 18% / 16%,
                url("../img/elemento_3.png") no-repeat left 0px bottom 13% / 16%,
                url("../img/flutuante_1.png") no-repeat left -50px top 40% / 16%,
                url("../img/flutuante_2.png") no-repeat right -50px top 44% / 16%,
                url("../img/flutuante_3.png") no-repeat left -30px top 49% / 16%,
                url("../img/flutuante_4.png") no-repeat right -50px top 56% / 16%,
                url("../img/flutuante_5.png") no-repeat left -60px top 59% / 16%,
                url("../img/flutuante_6.png") no-repeat right -50px top 63% / 16%,
                linear-gradient(#7F9FBE, #FFFFFF, #FFFFFF, #FCCCA0);
}


.modal-body .row .destaque{
    margin: 10px 0px;
    height: 300px;
}

.bloco.bg-imagem{
    width: 100%;
    min-height: 440px;
    background-size: cover;
    background-attachment: fixed;
    margin: 80px 0px;
}
.divisoria_1{background: url('../img/divisoria_1.png') no-repeat center;}
.divisoria_2{background: url('../img/divisoria_2.png') no-repeat center;}


.info-caderno{
    border: #92ACCE solid 20px;
    border-radius: 20px;
    background: url('../img/notepad_ruido.jpg') repeat;
    margin: 60px auto;
}
.caderno-conteudo{
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 60px;
    margin-left: -45px;
    background: url('../img/notepad_espiral.png') repeat-y left;
}
.info-caderno li{
    margin: 20px 0px;
}


@media screen and (max-width: 1300px){
    body{
        background-image: none;
        background: linear-gradient(#7F9FBE, #FFFFFF, #FFFFFF, #FCCCA0);
    }
}

@media screen and (max-width: 820px){
    .modal-body .row .destaque{
        height: 100%;
    }

    .bloco.bg-imagem{
        width: 100%;
        min-height: 200px;
        background-size: cover;
        margin: 80px 0px;
    }
}


@media screen and (max-width: 480px){

    .caderno-conteudo{
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 80px;
        padding-right: 40px;
    }

}