body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #FFFFFF;
    background-image: radial-gradient(farthest-corner at 5% 5%, #7F9FBE 0%, transparent 40%), 
                      radial-gradient(farthest-corner at 100% 100%, #FCCCA0 0%, transparent 40%);
}

.paginas{
    background: url("../img/elementoflutuante01.png") no-repeat left 0px bottom 14% / 15%,
                url("../img/elementoflutuante02.png") no-repeat right 0px top 30% / 15%;
    background-attachment: fixed;
}

.info-aspectos{
    margin: 50px auto;
    text-align: center;
    background-color: #FFFFFF;
    padding: 8px;
}
.info-aspectos img{
    width: 280px;
    margin: 5px;
}




.painel-ambientes{
    margin: 50px auto;
    text-align: center;
}
.painel-ambientes button{
    margin: 15px;
    width: 150px;
    height: 150px;
    background-size: cover;
    transition: all 0.3s;
    border: none;
    border-radius: 100%;
    color: #fff;
    text-shadow: #000 2px 2px 2px;
    line-height: 20px;
}


.btn-fachadas{background: url('../img/bt-fachadas.png') no-repeat center;}
.btn-cozinha{background: url('../img/bt-cozinha.png') no-repeat center;}
.btn-sala{background: url('../img/bt-sala.png') no-repeat center;}
.btn-varandas{background: url('../img/bt-sacada.png') no-repeat center;}
.btn-quartos{background: url('../img/bt-quarto.png') no-repeat center;}
.btn-banheiro{background: url('../img/bt-banheiro.png') no-repeat center;}
.btn-terrenos{background: url('../img/bt-terrenos.png') no-repeat center;}
.btn-comerciais{background: url('../img/bt-imoveis.png') no-repeat center;}


.modal-body .row .destaque{
    margin: 10px 0px;
    height: 300px;
}

.carousel-indicators [data-bs-target]{
    background-color: transparent;
}

.selo-presencialidade{
    display: block;
    margin: 20px auto;
    max-width: 220px;
}



/*--- CORREÇÃO MODO ESCURO ---*/
.modal-body p, .modal-body b, .modal-body i, .modal-body li{
    color: #000 !important;
}
.modal-body .destaque p{
    color: #fff !important;
}
.modal-body .destaque.borda-colorida p{
    color: #000 !important;
}
.modal-footer button{
    color: #92acce !important;
}
.modal-footer button:hover{
    color: #fff !important;
}
.flip-card-back p{
    color: #000 !important;
}
table.excel td{
    color: #000 !important;
}
.info-caderno li{
    color: #000 !important;
}
/*--- FIM CORREÇÃO MODO ESCURO ---*/


.visto{
    background-size: 110% !important;
    border: #02a799 solid 8px !important;
}


@media screen and (max-width: 820px){
    .paginas{
        background: none;
    }

    .modal-body .row .destaque{
        height: 100%;
    }

    .info-aspectos{
        width: 620px;
        padding: 10px;
    }

    .bg-podcast:not(.audio) .audio-player{
        padding-bottom: 30px;
    }

    .carousel-control-prev{left: 0;}
    .carousel-control-next{right: 0;}
}


@media screen and (max-width: 480px){
    .info-aspectos{
        width: 310px;
        padding: 10px;
    }

    .audio-player::after{
        display: none;
    }
    .bg-podcast:not(.audio) .audio-player{
        padding-bottom: 0;
    }

    .carousel-control-prev{left: -30px;}
    .carousel-control-next{right: -30px;}
}