body{
    background: url("../img/flutuante_1.png") no-repeat left 0px top 5% / 16%,
                url("../img/flutuante_2.png") no-repeat right 10px top 8% / 16%,
                url("../img/flutuante_3.png") no-repeat left -10px top 51% / 16%,
                url("../img/flutuante_4.png") no-repeat right 0px top 60% / 17%,
                linear-gradient(#7F9FBE, #FFFFFF, #FFFFFF, #FCCCA0);
}


.modal-body .row .destaque{
    margin: 10px 0px;
    height: 300px;
}

.bloco.bg-imagem{
    width: 100%;
    min-height: 440px;
    background-size: cover;
    background-attachment: fixed;
    margin: 80px 0px;
}
.divisoria_1{background: url('../img/divisoria.png') no-repeat center;}


.painel-mapa{
    width: 900px;
    height: 800px;
    background: url('../img/mapa.png') no-repeat center;
    background-size: cover;
    margin: 60px auto;
    filter: drop-shadow(0px 0px 5px #fff);
}
.painel-mapa button{
    background-color: transparent;
    border: none;
    border-top: #000 solid 2px;
    border-bottom: #000 solid 2px;
    height: 17px;
    position: absolute;
}

.btn-ac{
    width: 40px;
    margin-top: 308.5px;
    margin-left: 33px;
}
.btn-al{
    width: 71px;
    margin-top: 251px;
    margin-left: 783px;
}
.btn-ap{
    width: 56px;
    margin-top: 52px;
    margin-left: 397px;
}
.btn-am{
    width: 86px;
    margin-top: 192.5px;
    margin-left: 152px;
}
.btn-ba{
    width: 45px;
    margin-top: 304.5px;
    margin-left: 649px;
}
.btn-ce{
    width: 50px;
    margin-top: 152.5px;
    margin-left: 664px;
}
.btn-df{
    width: 66px;
    margin-top: 385px;
    margin-left: 491px;
    height: 30px !important;
}
.btn-es{
    width: 65px;
    margin-top: 478px;
    margin-left: 717px;
    height: 32px !important;
}
.btn-go{
    width: 47px;
    margin-top: 437px;
    margin-left: 474px;
}
.btn-ma{
    width: 88px;
    margin-top: 172px;
    margin-left: 527px;
}
.btn-mt{
    width: 107px;
    margin-top: 360px;
    margin-left: 336px;
}
.btn-ms{
    width: 106px;
    margin-top: 505px;
    margin-left: 365px;
    height: 32px !important;
}
.btn-mg{
    width: 103.5px;
    margin-top: 456.5px;
    margin-left: 570px;
}
.btn-pa{
    width: 40px;
    margin-top: 180px;
    margin-left: 396px;
}
.btn-pb{
    width: 64px;
    margin-top: 190px;
    margin-left: 794px;
}
.btn-pr{
    width: 62px;
    margin-top: 588px;
    margin-left: 463px;
}
.btn-pe{
    width: 103px;
    margin-top: 220px;
    margin-left: 797px;
}
.btn-pi{
    width: 39.5px;
    margin-top: 223.5px;
    margin-left: 616px;
}
.btn-rj{
    width: 65px;
    margin-top: 536px;
    margin-left: 683px;
    height: 32px !important;
}
.btn-rn{
    width: 91px;
    margin-top: 145.5px;
    margin-left: 777px;
    height: 32px !important;
}
.btn-rs{
    width: 63px;
    margin-top: 686px;
    margin-left: 441px;
    height: 47px !important;
}
.btn-ro{
    width: 82px;
    margin-top: 352.5px;
    margin-left: 199px;
}
.btn-rr{
    width: 69px;
    margin-top: 45px;
    margin-left: 184px;
}
.btn-sc{
    width: 75px;
    margin-top: 643px;
    margin-left: 567px;
    height: 32px !important;
}
.btn-sp{
    width: 84px;
    margin-top: 532.5px;
    margin-left: 490px;
}
.btn-se{
    width: 60px;
    margin-top: 280.5px;
    margin-left: 758px;
}
.btn-to{
    width: 86px;
    margin-top: 320px;
    margin-left: 482px;
}


@media screen and (max-width: 1300px){
    body{
        background-image: none;
        background: linear-gradient(#7F9FBE, #FFFFFF, #FFFFFF, #FCCCA0);
    }
}

@media screen and (max-width: 820px){
    .modal-body .row .destaque{
        height: 100%;
    }

    .bloco.bg-imagem{
        min-height: 200px;
    }

    .painel-mapa{
        transform: scale(0.82);
        margin: -10px -90px;
    }
}


@media screen and (max-width: 480px){
    .bloco.bg-imagem{
        display: none;
    }

}